.git
.gitignore
.DS_Store
.vscode
.idea

node_modules
**/node_modules
.pnpm-store

dist
**/dist
build
**/build
bundle
**/bundle
coverage
**/coverage
*.tsbuildinfo

.env
**/.env
.env.*
**/.env.*

logs
**/logs
*.log
uploads
**/uploads
backups
